[submodule "Buildster"]
	path = Buildster
	url = https://github.com/PierceLBrooks/Buildster.git
[submodule "Project/libnstd"]
	path = Project/libnstd
	url = https://github.com/PierceLBrooks/libnstd.git
